################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/2023/*/bin/
/2023/*/obj/
/2023/*/.vs/*
/2023/*/files/personalInput.txt
*.sln
/2023/*/*/bin/
/2023/*/*/obj/