################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/2023/AoC_01122023/obj/Release/net8.0
/2023/AoC_01122023/obj
